@font-face {
    font-family: Rubik;
    src: url(./fonts/Rubik-Regular.ttf);
    font-style:normal;
    font-weight:400;
}

@font-face {
    font-family: Rubik;
    src: url(./fonts/Rubik-Bold.ttf);
    font-style:normal;
    font-weight:bold;
}
@font-face {
    font-family: Rubik;
    src: url(./fonts/Rubik-Regular.ttf);
    font-style:italic;
    font-weight:400;
} 

:root{
font-size: 18px;
--gray30: #212112;
--gray20: #616161;
--gray10: #212429;
}
html {
    scroll-behavior: smooth;
}

body{
color: var(--gray30);
font-family: 'Rubik';
margin: 0;



}

.main{
    
}

.wrapper {
    width: 902px;
    margin: auto;
}
.wrapper-menu {
    margin: auto;
}

p{
    color: #545454;
}
a{
    color: var(--gray30);
}

.main-content{
    --cpe: white;
    background: var(--cpe);
    margin-bottom: 50px;
    text-align: center;
} 

.setup {
    margin-top: 50px;
}

.header-content{
    position: relative;
    

}

header li {
    margin-bottom: 16px;
}
header{
    margin-top: 64px;
    font-size: 14px;
    width: 188px;
    color: var(--gray10);
    /* top: 64px;
    left: -232px; */
    /* z-index: 1; */
}

header a{
    color: #545454;
    text-decoration: none;
}
header a:hover {
    color: #212121;
}

.header {
    position: sticky;
    top: 0;
}

.title{
    
}

/* nav{
    position: absolute;
    z-index: 3;
    background-color: antiquewhite;
    padding: 20px;
    top:0;
} */

nav details summary{
    line-height: 24px;
    font-style: normal;
    font-weight: 700;
}


details{
    margin-bottom: 20px;
}

details:last-child{
    margin-bottom: 0;
}

    
h4{
    font-weight: 400;
    font-style: normal;
    font-family: 'rubik';
    color: #000000;
}

h1{
    font-size: 60px;
    margin-top: 64px;
    margin-bottom: 16px;
    font-weight: bold;
 
}
/*h1 + p {
    margin-bottom: 64px;
}*/

hr {
    margin: 64px 0;
}

h2{
    font-size: 32px;
    /* margin: 64px 0; */
    font-weight: normal;
    margin-top: 64px;
    margin-bottom: 56px;
}
 .vlindos{
    /* font-size: 32px; */
    /* margin: 64px 0; */
    font-weight: normal;
    margin-bottom: 16px;
}

h3{
    font-size: 24px;
    margin: 16px 0 24px;
    font-weight: normal;
    position: relative;
    display: inline-block;
    
}

pre {
    border: 8px solid #5551FF;
    box-shadow: -10px 10px 0px #ABAAF6;
    border-radius: 8px;
    padding: 40px;
    font-family: 'rubik';
    line-height: 24px;
    text-align: start;
}

blockquote {
   margin-left: 180px;
    text-align: start;
    display:block;
    font-size: 24px;
    padding-left: 16px;
    line-height: 32px;
    border-left: 4px solid  rgba(85, 81, 255, 1);
    /* height: 120px; */
    /* margin-top: 64px;
    margin-bottom: 64px; */
}

blockquote span {
    color: var(--gray20);
    text-align: center;
    
}


blockquote span::before {
    content: '-';
}
.hero{
    background-image: linear-gradient(274.51deg, rgba(74, 0, 224, 0.6) 5%, rgba(142, 45, 226, 0.5) 130.61%),  url(./images/patron-2.png);
    height: 300px;
}

.section-content:first-of-type {
    margin: 0px;
}
.section-content a1{
    color: #5551FF;
}
.section-content ul  {
    list-style: none;
    color: #545454;
}

.section-content ul li::before {
    content: "\2022";
    color: rgba(85, 81, 255, 1);
   line-height: 24px;
   font-size:xx-large;
   margin-right: 16px;
}
.section-content ol li {
    line-height: 24px;
    color: #545454;
}
.section-content + hr {
    display: none;
}
.section-content img {
    margin-top: 40px;
    max-width: 100%;
}

.section-content {
    counter-reset: titleList;
}
.section-content h3{
    display: block;
    counter-increment: titleList;
    padding-bottom: 8px;
}

.section-content h3::before {
content: counter(titleList, decimal) '. ';
}

.slider {
}

.slider-container {
    display: block;
    overflow: auto, hidden;
    overflow: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    

}

.video{
    margin: 0;
    display: inline-block;
    width: 100%;
    aspect-ratio: 16/9;
}
.slider-bullet-list {
    text-align: center;
}

.slider-bullet {
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background: #5551FF;
    border-radius: 50%;
}
.liselected{
    background-color: black;
    color: white;
}

.liselected a{
    color: white;
    border-radius: 4px;
}
.form{
    position: relative;
    width: fit-content;
    /* border: 1px solid #616161; */

}
.form input {
    inline-size: 280px;
    border: 1px solid var(--gray30);
    /* background: #251F24; */
    border-radius: 90px;
    box-sizing: border-box;
    padding-inline: 16px;
    padding-block: 12px;
    color: var(--white30);
    font-size: 16px;
    margin-block-end: 24px;
    height: 48px;
}

.form input ::-webkit-input-placeholder {
    color: var(--white20);
}
.form input[type="submit"] {
    position:absolute;
    /* display: inline-block; */
    right: 0;
    border: none;
    inline-size: 120px;
    background: #5551FF;
    /* border: 1px solid black; */
    color: white;
}

.footer{
    display: flex;
    justify-content:center;
    /* justify-items: center; */
    color: white;
    width: 100%;
    height: 174px;
    background: black;
    flex-direction: column;
    align-items: center;
}
.ultramain{
    display: flex;
    justify-content: center;
    gap: 32px;
}
.varli ul{
    list-style: none;
}
.mitad{
    text-align: start;
}

.mitad h4{
    font-size: 24px;
    margin: 16px 0 24px;
    font-weight: normal;
    position: relative;
    display: inline-block;
}

.mitad ol{
    padding-inline-start: 21px;
}
.mitad ul{
    padding-inline-start: 0px;
}
.section-content img:first-of-type{
    margin-top: 0px;
}
.footer p{
    color: white;
    font-size:xx-large;
}