@font-face {
    font-family: charter;
    src: url(./fonts/Montserrat-Regular.ttf);
    font-style:normal;
    font-weight:400;
}
@font-face {
    font-family: charter;
    src: url(./fonts/Montserrat-SemiBold.ttf);
    font-style:normal;
    font-weight:600;
}
@font-face {
    font-family: charter;
    src: url(./fonts/Montserrat-ExtraBold.ttf);
    font-style:bold;
    font-weight:700;
}
@keyframes spin {
    0%{
        transform: translateX(0) rotate(-360deg);
    }
    50%{
        transform: translateX(400px);
    }
}

:root{
--white30: white;
--white20: #B8C1EC;
--white10: #3A3539;
}

body{
color: #FFFFFE;
font-family: 'Montserrat', sans-serif;
background: #232946;
margin: 100px 0 0 0;
}

main{
 max-width: 1080px;
 margin: auto;
}

a{
    color: var(--white20);
}

.content{
    margin-bottom: 50px;
    color: var(--white30);
}
.contentvar{
    /* margin-bottom: 50px; */
    color: var(--white30);
}
.varli{
    margin-block-end: 112px;
}

.setup {
    margin-top: 50px;
    color: var(--white30);
}
.header {
}
.header-content {
}

header{
    margin-block-start: 20px;
    font-size: 14px;
    color: var(--white20);
    inline-size: 165px;
    line-height: 24px;
}

header li {
    margin-block-end: 16px;
}

header a{
    color: (--white20);
    text-decoration: none;
}
header a:hover {
    color: var(--white30);
}


nav details summary{
    font-weight: bold;
    color: var(--white30);
}


details{
    margin-bottom: 20px;
}

details:last-child{
    margin-bottom: 0;
}

/* h1,h2,h3, h4 {
   font-weight: normal;
} */
    
p {
    color: var(--white20);
    font-weight: 400;
    font-size: 40;
}


h1 {
    font-size: 64px;
    font-weight: 700;
    margin-block-start: 20px;
    margin-block-end: 16px;
    line-height: 78.02px;
    
}

h2{
    font-size: 40px;
    font-weight: 700;
    margin-block: 40px;
    line-height: 48.76px;
}

h3{
    font-size: 1.5em;
    font-weight: 600;
    margin-block: 16px;
}
h4{
    font-size: 1.5em;
    font-weight: 600;
    margin-block: 16px;
}
hr {
    margin-block: 40px;
    border: 1px solid rgba(97, 97, 97, 0.2);
}

li {
    color: var(--white20);
}


pre {
    padding: 40px;
    border-radius: 8px;
    overflow: auto;
    overflow: hidden;
}

.hero{
    background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
    /* background-image: linear-gradient(to top, rgba(255, 255, 255, .30), transparent),  url(./images/pattern.png); */
    block-size: 50px;
}

.section-content {
    counter-reset: titleList;
}
.section-content h3{
    counter-increment: titleList;
}

.section-content h3::before {
content: counter(titleList, decimal)'. ';
}

.section-content img {
    margin-block-start: 40px;
    display: block;
    max-inline-size: 100%;
} 



blockquote {
    margin-block-start: 80px;
    marker-end: 63px;
    background: #D4939D;
    padding: 24px;
    border-radius: 8px;
    line-height: 32px;
    font-size: 24px;
}

blockquote p {
    color: #232946;

}


.wrapper {
    max-inline-size: 636px;
    margin:auto;
}

.main-content {
    padding-inline: 16px;

}


.slider {
}

.slider-container {
    display: block;
    overflow: auto, hidden;
    overflow: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    

}

.video{
    margin: 0;
    display: inline-block;
    width: 100%;
    aspect-ratio: 16/9;
}

.slider-bullet-list {
    text-align: center;
}

.slider-bullet {
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background: white;
    border-radius: 50%;
}

.form input {
    inline-size: 100%;
    border: 1px solid var(--white30);
    background: #232946;
    border-radius: 8px;
    box-sizing: border-box;
    padding-inline: 16px;
    padding-block: 12px;
    color: #FFFFFE;
    font-size: 16px;
    margin-block-end: 24px;
}

.form input ::-webkit-input-placeholder {
    color: #FFFFFE;
}
.form input[type="submit"] {
    background: #D4939D;
    border: none;
}

::placeholder{
    color:#FFFFFE;
    font-weight: lighter;
}


@media screen and (min-width: 1366px) {
    h1 {
        font-size: 40px;
        margin-block-start: 20px;
    }
    .hero{ 
        block-size: 350px;
    }
    
        .header {
            position: sticky;
            inset-block-start: -45px;
        }
        .header-content {
            position: relative;
            display: flex;
            z-index: 2;
            /* inset-block-start: 65px ;    */
        }
        
        header{
            font-size: 14px;
            color: var(--white20);
            position:absolute;
            inset-block-start: 0;
            inset-inline-start:0;
            inset-inline-start: -298px;
            inline-size: 165px;
            line-height: 24px;
        }
        
        header li {
            margin-block-end: 16px;
        }
        
        header a{
            color: (--white20);
            text-decoration: none;
        }
        header a:hover {
            color: var(--white30);
        }
        
    
}
.liselected{
    background-color: black;
    color: var(--white30);
}
ul{
    list-style-type: none;
    padding: 0;
}
.section-content ol{
    padding-left: 20px;
}
.section-content ul{
    padding: 0;
}
.section-content ul li::before {
    content: "\2022";
    color: #FFFFFE;
   line-height:  24px;
   font-size: xx-large;
   margin-right: 16px;
}

.section-content a{
    color: #D4939D;
}

.footer{
    display: flex;
    justify-content:center;
    width: 100%;
    height: 174px;
    background: #D4939D;
    flex-direction: column;
    align-items: center;
}
.footer p{
    color: #232946;

}
